# Build directories
build/
build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Compiled files
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib

# vcpkg
vcpkg_installed/

# Test results
Testing/
*.xml

# Output files
result.json
*_result.jpg

# OS specific
.DS_Store
Thumbs.db

#clangd
.cache

#results
results/